<%-include("partials/header")-%>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style2.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <!-- <body class="bg-gray-50">
    <nav class="navbar">
      <div class="logo">zoom</div>
      <a href="#" class="toogle-btn">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <!-- <div class="nav-menu">
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/index3.html">about</a></li>
          <li><a href="">services</a></li>
          <li><a href="/contact-us.html">contact us</a></li>
        </ul>
      </div> -->
    <!-- </nav> -->
    <div class="w-full mt-10 p-5 flex flex-col items-center justify-center">
        <h1 class="text-4xl font-semibold tracking-widest">
            Contact Us
        </h1>

        <div class="lg:w-2/3 md:w-4/5 w-full mt-10">
            <h4 class="text-lg">
                Email
            </h4>
            <input class="w-full border-2 border-black rounded-md px-3 py-2 outline-none mt-1 font-mono tracking-widest focus:shadow-lg focus:shadow-black/30 transition-all ease-in-out delay-2000" placeholder="Enter your email" type="email"/>

            <h4 class="text-lg mt-5">
                Review
            </h4>
            <textarea class="w-full border-2 border-black rounded-md px-3 py-2 outline-none mt-1 font-mono tracking-widest resize-none h-40 focus:shadow-lg focus:shadow-black/30 transition-all ease-in-out delay-2000" placeholder="Enter your review or query"></textarea>

            <button class="mt-5 px-5 py-1 border-2 border-black rounded-md bg-yellow-400 text-lg hover:shadow-lg hover:shadow-black/30 transition-all ease-in-out delay-2000">
                Submit
            </button>
        </div>
    </div>
  </body>

<%-include("partials/footer")-%>
