.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: lightgray;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

#signUp{
     display: inline-block;
  padding: 10px 20px;
  background-color: #3498db; /* Change this to your desired background color */
  color: #fff; /* Change this to your desired text color */
  border: none;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

#signUp:hover {
    background-color: #2980b9; /* Change this to your desired hover background color */
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  }

